<div class="dashboard-container">
  <div class="top-section">
    <div class="title-section">
      <h1>Dashboard</h1>
    </div>

    <div class="actions">
      <button mat-raised-button color="primary" routerLink="/students/add">
        Add Student
      </button>

      <button mat-raised-button color="accent" routerLink="/attendance/add">
        Attendance
      </button>

      <button mat-raised-button color="warn" routerLink="/fees/add">
        Add Fee
      </button>
    </div>
  </div>

  <div class="card-grid">
    <mat-card class="dashboard-card students">
      <div class="card-header">
        <span>Total Students</span>
      </div>

      <h1>{{ dashboard.totalStudents }}</h1>
    </mat-card>

    <mat-card class="dashboard-card present">
      <div class="card-header">
        <span>Present Today</span>
      </div>

      <h1>{{ dashboard.presentToday }}</h1>
    </mat-card>

    <mat-card class="dashboard-card absent">
      <div class="card-header">
        <span>Absent Today</span>
      </div>

      <h1>{{ dashboard.absentToday }}</h1>
    </mat-card>

    <mat-card class="dashboard-card fees">
      <div class="card-header">
        <span>Fees Pending</span>
      </div>

      <h1>₹ {{ dashboard.feesPending }}</h1>
    </mat-card>
  </div>
</div>
