<div class="dashboard-container">
  <mat-card class="welcome-card">
    <div>
      <h1>Welcome Back 👋</h1>

      <p>Martial Arts Management System</p>
    </div>

    <div class="actions">
      <button mat-raised-button color="primary" routerLink="/students/add">
        Add Student
      </button>

      <button mat-raised-button color="accent" routerLink="/attendance/add">
        Attendance
      </button>

      <button mat-raised-button color="warn" routerLink="/fees/add">
        Add Fee
      </button>
    </div>
  </mat-card>

  <div class="card-grid">
    <mat-card class="dashboard-card students">
      <mat-icon>groups</mat-icon>

      <h2>Total Students</h2>

      <h1>{{ dashboard?.totalStudents }}</h1>
    </mat-card>

    <mat-card class="dashboard-card present">
      <mat-icon>check_circle</mat-icon>

      <h2>Present Today</h2>

      <h1>{{ dashboard?.presentToday }}</h1>
    </mat-card>

    <mat-card class="dashboard-card absent">
      <mat-icon>cancel</mat-icon>

      <h2>Absent Today</h2>

      <h1>{{ dashboard?.absentToday }}</h1>
    </mat-card>

    <mat-card class="dashboard-card fees">
      <mat-icon>payments</mat-icon>

      <h2>Fees Pending</h2>

      <h1>₹ {{ dashboard?.feesPending }}</h1>
    </mat-card>
  </div>
</div>
