.header {
  display: flex;

  justify-content: space-between;

  align-items: center;
}

.header div {
  display: flex;

  gap: 12px;
}

table {
  width: 100%;
}

.filter-container {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
  align-items: center;
}

.filter-container mat-form-field {
  width: 250px;
}
