<div class="header">
  <h2>Students</h2>

  <div>
    <button mat-raised-button color="accent" (click)="exportStudents()">
      Export Excel
    </button>

    <button mat-raised-button color="primary" routerLink="/students/add">
      Add Student
    </button>
  </div>
</div>
<div class="filter-container">
  <mat-form-field appearance="outline">
    <mat-label>Search Student</mat-label>

    <input
      matInput
      placeholder="Search by name"
      [(ngModel)]="searchText"
      (keyup)="applyFilters()"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Belt</mat-label>

    <mat-select [(ngModel)]="selectedBelt" (selectionChange)="applyFilters()">
      <mat-option value="">All</mat-option>

      <mat-option *ngFor="let belt of belts" [value]="belt">
        {{ belt }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let student">
      {{ student.id }}
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let student">
      <a [routerLink]="['/students/view', student.id]">
        {{ student.name }}
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="beltRank">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Belt Rank</th>
    <td mat-cell *matCellDef="let student">
      {{ student.beltRank }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>

    <td mat-cell *matCellDef="let student">
      <button
        mat-icon-button
        color="primary"
        [routerLink]="['/students/edit', student.id]"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" (click)="deleteStudent(student.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
>
</mat-paginator>
