<mat-sidenav-container class="app-container">
  <mat-sidenav #drawer mode="side" opened class="sidebar">
    <div class="logo">
      <!-- <mat-icon>sports_martial_arts</mat-icon> -->

      <!-- <span>MA System</span> -->
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon>

        <span>Dashboard</span>
      </a>

      <a mat-list-item routerLink="/students" routerLinkActive="active-link">
        <mat-icon>groups</mat-icon>

        <span>Students</span>
      </a>

      <a mat-list-item routerLink="/attendance" routerLinkActive="active-link">
        <mat-icon>fact_check</mat-icon>

        <span>Attendance</span>
      </a>

      <a mat-list-item routerLink="/fees" routerLinkActive="active-link">
        <mat-icon>payments</mat-icon>

        <span>Fees</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <!-- <span class="toolbar-title"> Martial Arts Management System </span> -->
    </mat-toolbar>

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
