.container {
  height: calc(100vh - 64px);
}

.content {
  padding: 24px;
}

.spacer {
  flex: 1 1 auto;
}

mat-drawer {
  width: 220px;
}

.active {
  background: rgba(63, 81, 181, 0.12);
  font-weight: 600;
}
